<div class="card card-chart">
    <div class="card-header card-header-@this.HeaderType">
        @* <div class="ct-chart" id="dailySalesChart"></div> *@
        @this.Chart
    </div>
    <div class="card-body">
        <h4 class="card-title">@this.Title</h4>
        <p class="card-category">
            @this.DescriptionFrament
        </p>
    </div>
    <div class="card-footer">
        <div class="stats">
            @this.FooterFragment
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string HeaderType { get; set; }

    [Parameter]
    public string Title  { get; set; }

    [Parameter]
    public RenderFragment DescriptionFrament { get; set; }

    [Parameter]
    public RenderFragment FooterFragment { get; set; }

    [Parameter]
    public RenderFragment Chart { get; set; }
}