@inherits LayoutComponentBase

<Sidebar />

<div class="main-panel">
    <MainPanelNavbar />
    
    <div class="content">
        @Body
    </div>
    
    <MainPanelFooter />
</div>

